*{margin:0px;padding:0px;}
body {  font-family: Arial,Helvetica,sans-serif;  font-size: 11px; background:white;}
#container{margin:0 0 0 10px; max-width:1000px; width:100%; font-size:99%;}
aside { float:left; width:15%; height:600px;}

header {width:85%;float:left;}

fieldset li {
	margin-left:15px;
}
header nav {
	width:100%; 
	float:left;
	background-color: #000099;
    border: 2px solid #000099;
    color: #FFFFFF;
    font-weight: bold;
    height: 25px;
    padding-right: 10px;
    text-align: right;
}
nav li {
	list-style-type:none; 
	display:inline; 
	padding-top:15px !important;
	padding-right:5px;
}

nav li > a{	
	color : white;
	text-decoration:none;
	margin-top:5px;
}

nav li.active > a
{
    color : white;	
    font-weight:bold;
    text-decoration:underline;
}

table {
	font-weight:bold;
	font-size:11px;
}

.groep {
    background-color: #FFFFFF;
    border-color: #000099;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.hoofding {
    background-color: #000099;
    border-color: #6600CC;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
    text-align: center;
}


.logo img {width:85%;}
#content{width:85%; float:left; font-weight:bold;}
footer {clear:both; display:none;}

table.frm_01 , .frm_02{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:  95%;
	border-collapse: collapse;
	background-color:#EDECEF;
	margin-left:5px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	margin-top:0px;
	caption-side:top;
	width:70%;
	color:black;
}
table.frm_02{
        margin-left:1px;
        width:80%;
}

/*table.frm_01 caption {
	  margin-left:50px;  }*/

table.frm_01 tr{
	color:black;
}

table.frm_01 tr.odd{
	/* background-color: #FFFFFF; */
}

table.frm_01 td{
	border: 1px dotted #CCCCCC;
	color:black;
}

table.frm_01 tbody th{
	padding: 2px 5px;
	font-weight:bold;
	white-space: nowrap;
	background-color:#EDECEF;;
	color:black;
	border-color:#DEDEDE;
	text-align:right;
	/*width:50px;*/
}

table.frm_01 tbody td{
	 padding: 2px 5px;
	 vertical-align:middle;
}

table.frm_01 tbody th.foto{
	 text-align:center;
         background-color:#fff;
}

table.frm_01 tbody td.foto{
	 text-align:center;
         background-color:#fff;
}

table.frm_01 tbody td.price{
	 text-align:right;
}

table.frm_01 tfoot{
	border-top:1px dashed black;
}

table.frm_01 tfoot tr{
	 background-color:#FFFFFF;
}

table.frm_01 tfoot th{
	font-size: 110%;
	text-align: right;
	padding-right: 0.5em;
	letter-spacing: 1px;
}

table.frm_01 tfoot td{
	text-align: left;
	padding: 0.5em;
}

table.frm_01 tfoot td.price{
	 text-align:right;
}

table.frm_01 th .required
{
    background-image:url(../base/images/icons/required-field.png);
    background-position:top right;
    background-repeat:no-repeat;
    padding-right:15px;
}

table.frm_01 input[disabled] {
	border: 0px solid #999;
	color:black;
	font-size:  130%;
	background-color:#EDECEF;
}
table.frm_01 textarea[disabled] {
	border: 1px solid #000;
	color:black;
	background-color:#EDECEF;
	resize:none;
}
table.frm_01 select[disabled] {
	border: 0px solid #000;
	color:black;
	background-color:#EDECEF;
}

#container .mainTitle{
        height:20px;
	margin-bottom:20px;
        margin-top:5px;
        text-align:center;
        width:970px;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666;
	border-collapse: collapse;
}
table.gridtable tr.alt td{
	background-color: #eafdff;
}
table.gridtable tr:hover td{
    background-color: #FFB6C1;
}
table.gridtable th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px !important;
	padding: 1px;
	border-style: solid;
	border-color: #666;
	background-color: #ffffff;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}

table.gridtable tr.tr_remark:hover td{
    background-color: #fff;
}

fieldset {
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color : #EDECEF;
        border : 1px solid #666;
        width:95%;
        margin-left:10px;
        float:right;
        padding-bottom: 10px;
}

legend {
       margin-left:10px;
       font-weight: bold;
}
nav {
    float:left;
    width:300px;
}

#paginainfo {
    border:2px solid #C9C9C9;
    margin-left:15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float:left;
    margin-top:10px;
    width:100%;
    background:#fff;
}

.title-pagina {
    color: #000000;
    font-family: Arial;
    font-size: 22px;
    font-weight: normal;
}

section.lang {
    margin-top:1px;
    width:100%;
    float:right;
    text-align:right;
    margin-right:2%;
}

.lang li {list-style-type:none; display:inline; }
.lang  ul li.active{font-weight:bold;}

.msg_error{
	border:1px dashed darkred;
	padding:0px;
	text-align:left;
	color:#fff;
	margin-left:5px;
	background-color: darkred;
}

.msg_ok{
	border:1px solid black;
	padding:0px;
	text-align:left;
	color:#fff;
	background-color:darkgreen;
	margin-left:25px;
}

.hidden, figcaption{display:none;}

#pagina section
{
    margin-left:25px;
    margin-top:25px;
}

#pagina textarea {
    width:700px;
    height:200px;
    background-color:whitesmoke;
    resize:none;
    border: 0px;
}

dt { height:0px; }
dd { line-height:0px; }

@media screen and (max-width: 650px) {   
    aside {
        display:none;
    }

    footer {
        display:block;
    }

    nav li {display:block;  }

    .lang li {display:block;  }

    table.frm_01 {font-size:  65%;}

    table.frm_01 tfoot th{
	font-size: 70%;
    }

    table.frm_01 input {
	width: 70%;
    }

    section.login {
        width:260px;
    }
    section.search {
        margin-right:0%;
    }
    
    .viewerImage {
        float:none;
    }
    .viewerInfo {
        float:none;
        width:90%;
    }

}

@media screen and (max-width: 900px) {
    section.login {
        float:left;
    }
}