/*
html,body {
	font-size: 100%;
	margin: 0;
	font-family: Verdana, sans-serif;
}
*/

.formTable {
	width: 99%
}

.subForm {
	margin-bottom: 5px;
	width: 100%;
}

.noRecords {
	padding: 10px;
	text-align: center;
	color: brown;
	font-size: 14px;
}

th a .selected {
	font-weight: bold;
}

.formTitle {
	/*background: #EEA966 url(../images/bg_helper_button.jpg) repeat-x;*/
	font-size: 11px !important;
	font-weight: bold;
}

form  .element {
	padding: 4px;
	margin: 0;
}

.element ul {
	width: auto !important;
}

form label {
	font-size: 11px;
	display: block;
}

.subtitulo span {
	width: 40px;
	display: block;
	float: left;
}

.subtitulo {
	padding-left: 5px;
	text-indent: 0;
}

.gridLoading {
	background: #F2F2F2 url(../images/ajax-loader.gif) no-repeat center
		center;
	border: 1px solid #333333;
}

.paginationExport {
	float: left;
	width: 110px;
}

.paginationNumbers {
	float: left;
	text-align: center;
	width: 750px;
}

.massActions {
	background-color: beige;
	text-align: right;
}

.massActions .massSelect {
	display: block;
	float: left;
	padding-top: 2px;
}

.massActions * {
	color: #333;
	text-decoration: none;
}

.massActions input {
	margin-left: 10px;
}

.buttons {
	text-align: center;
	background-color: #DEDEDE;
}

input[type='checkbox'],input[type='radio'] {
	width: 14px !important;
	height: 14px !important;
	border: 0px;
	padding: 0px;
	margin: 2px;
}

td div input[type='text'],td div input[type='password'],.subtitulo input[type='text'],.subtitulo input[type='password'],.subtitulo  select
	{
	width: 90% !important;
	border: 1px solid #aaa;
	min-width: 20px;
	margin: 2px;
}



#newGrid {
	border: 2px solid #333;
}

#newGrid .td {
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
	background: #fff;
	padding: 4px 4px 4px 10px;
	color: #333;
}

.addRecord {
	text-align: center;
	background-color: #DEDEDE;
	float: left;
}

.addRecord a {
	text-decoration: none;
	font-size: 10px !important;
}

td input[type='checkbox'],td input[type='radio'],td textarea:focus {
	border: 1px solid #666;
	background-color: #f4F4F4;
}
/*
table.borders {
	border: 2px solid #FCFCFC;
	border-collapse: collapse;
	width: 100%;
}
*/

table.borders{
	/* border: 2px solid #FFa500; */
	border:1px solid black;
	border-collapse: collapse;
	width: 100%;
}

table.borders th
{
	background-color:#eee;
	white-space:nowrap;
	color:black;
	font-size: 10px;
	border:1px solid black;
}



table.borders th a .selected {
	font-weight: bold;
}

table.borders td div input[type='text'],td div input[type='password'],.subtitulo input[type='text'],.subtitulo input[type='password'],.subtitulo  select
	{
	width: 90% !important;
	border: 1px solid lightgray;
	/*min-width: 20px;*/
	margin: 2px;
}

table.borders .noRecords {
	padding: 10px;
	text-align: center;
	color: brown;
	font-size: 14px;
}



table.borders #newGrid {
	border: 2px solid #333;
}

table.borders #newGrid .td {
	background: #fff;
	padding: 4px 4px 4px 10px;
	color: #333;
	font-size: 10px;
}


table.borders .hbar {
	text-align: center;
	background: #FFF url(../images/hbar.jpg);
	font-variant: small-caps;
}

table.borders .hbar div {
	padding: 4px;
	font-weight: bold;
	font-size: 12px;
}

table.borders td {
	border:1px solid black;
	text-indent: 5px;
	padding: 4px 0px 4px 0px;
	color: #333;
	background-color:white;
	border-color:lightgray;
	border-left-color:white;
	border-right-color:white;
	border-left-width:0px;
	border-right-width:0px;
	white-space:nowrap;
	font-size: 10px;
}

table.borders td.alt {
	text-align: center;
	border:1px solid lightgray;
	background-color:blue;
	border-left-width:0px;
	border-right-width:0px;

	white-space:nowrap;
	font-size: 10px;
}

table.borders td.alt,tr.alt  td {
	background-color: #DEDEDE;
	color: #333;
	border-color:lightgray;
	border-left-color:#DEDEDE;
	border-right-color:#DEDEDE;
	border-bottom-color:lightgray;
	border-left-width:0px;
	border-right-width:0px;
}

table.borders .gridLoading {
	background: #F2F2F2 url(../images/ajax-loader.gif) no-repeat center
		center;
	border: 1px solid #FFA500;
}

table.borders .paginationExport {
	float: left;
	width: 110px;
}

table.borders .paginationNumbers {
	float: left;
	text-align: center;
	width: 750px;
}




table.borders select {
	font-size: 10px;
}

table.borders #grid td {
	vertical-align: middle;
	font-size: 10px;
}



table.borders .button {
	padding: 1px;
	border: 1px solid #275DA8;
	width: 98%;
}

table.borders .sum {
	border: 0px;
	background-color: #999;
	color: F4F4F4;
}

table.borders #center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}



body {
	/*width: 920px;*/
	/*margin: 0 auto;*/
	/*font-size: 10px;*/
	/*background: #99ACBD url(../images/fundo.jpg) repeat-y top center;*/
}

.semLimites {
	border: 0px;
	padding: 0px;
	margin: 0px;
	height: auto;
}

td.alt2 {
	text-align: center;
	background-color: #FFFFFF;
}

select {
	font-size: 10px;
}

#grid td {
	vertical-align: middle;
	font-size: 10px;
}

.formValue {
	width: 550px;
}

div .element label {
	font-size: 11px;
	font-style: normal;
}

div .element {
	font-style: italic;
	margin-right: 10px;
}

td.esquerda {
	width: 350px;
}

.errors li,.errors {
	color: #FF0000;
}

.errors {
	padding-left: 15;
	margin: 0;
	margin-top: 5px;
}

.formLabel {
	text-align: right;
	display: block;
	margin-right: 10px;
}

.hbar {
	text-align: center;
	background: #FFF url(../images/hbar.jpg);
	font-variant: small-caps;
}

.hbar div {
	padding: 4px;
	font-weight: bold;
	font-size: 12px;
}

td {
	border: 1px solid #E9ECEF;
	text-indent: 5px;
	padding: 4px 0px 4px 0px;
	 color: #333;
}

#newGrid td {
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
	background: #fff;
	padding: 4px 4px 4px 10px;
	color: #333;
}

td.alt,tr.alt  td {
	background: #DEDEDE;
	color: #333;
}

.button {
	padding: 1px;
	border: 1px solid #275DA8;
	width: 98%;
}

.sum {
	border: 0px;
	background-color: #999;
	color: F4F4F4;
}

#center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.barra_tabela {
	background-color: #F0E4CC;
	text-align: center;
}

.barra_tabela input {
	width: 120px !important;
	margin: 4px;
}

.barra_tabela a {
	padding: 2px 2px 2px 2px;
	margin: 2px;
	text-decoration: none;
	color: #333;
}

.barra_tabela a img {
	border: 0px solid #E9ECEF;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 3px;
}

.topo ul li span {
	font-weight: bold;
}

.topo ul li span * {
	color: #333;
	text-decoration: none;
}

.topo ul li {
	border-bottom: 1px solid orange;
	margin: 2px;
}

.alerta {
	border: 1px solid #003b16;
	padding: 5px;
	margin: 10px;
	text-align: center;
	color: green;
	font-weight: bold;
}

.alerta_red {

	margin: 5px;
	text-align: center;
	/* color: #DA1609; */
	padding:10px;

	border:1px solid black;
	background-color:darkred;
	color:white;
}

.tabela_print a {
	border: 0px;
	background-color: #F0E4CC;
	padding: 0px;
	padding-left: 1px;
}

.subtitulo select {
	width: 95%;
	border: 1px solid #AAA;
}

.subtitulo {
	/*background: #FFFFFF url(../images/pageoptions2.jpg) repeat-x bottom;*/
}

.noText span {
	display: none;
}

.noSelect em {
	display: none;
}


th a {
	 color: #FFF;
}

th,.elementLabel {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	/*border-right: 1px solid #E9ECEF;*/
	/*border-bottom: 2px solid #E9ECEF;*/
	border-color: #000000;
	text-align: left;
	padding: 3px 6px;
	background: #eee;
	/*background: #BBBBBB url(../images/grid/bg_header.jpg);*/
}

.input_p {
	border: 1px solid #AAA;
	width: 98%;
}

th a {
	text-decoration: none;
}

.width_33p {
	width: 33%;
}

.width_30 {
	width: 30px;
}

.width_20 {
	width: 20px;
}

.width_50p {
	width: 50%;
}

.width_60p {
	width: 60%;
}

.width_80p {
	width: 90%;
}

.width_40p {
	width: 40%;
}

.width_50 {
	width: 50px;
}

.width_75 {
	width: 75px;
}

.width_150 {
	width: 150px;
}

.width_160 {
	width: 160px;
}

.width_500 {
	width: 640px;
}

.width_400 {
	width: 400px;
}

.width_350 {
	width: 250px;
}

.width_100 {
	width: 100px;
}

.width_80 {
	width: 80px;
}
.width_80_right {
        width: 80px;
        text-align: right;
}
.width_80_center {
        width: 80px;
        text-align: center;
}
.width_100_font8 {
	font: 8px Verdana, Arial, Helvetica, sans-serif;
        width: 100px;
}
.width_data {
	width: 80px;
	display: block;
	height: 14px;
	overflow: hidden;
}

.width_120 {
	width: 120px;
}

.width_200 {
	width: 200px;
}

.detailLeft {
	width: 150px;
	font-weight: bold;
	background-color: #DDD;
}

.red {
	background-color: red !important;
}

.green {
	background-color: green !important;
}

.yellow {
	background-color: #FFD700 !important;
}


table.borders  #grid td.my_class{
    width:200px;
}